.txtleft {
  text-align: left !important;
}

.txtright {
  text-align: right !important;
}

.txtcenter {
  text-align: center !important;
}

.iblock {
  display: inline-block !important;
}

.borderb5 {
  border-bottom: 5px solid #6fb33f !important;
}
.border {
  border: 1px solid #ddd !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.bgwhite {
  background: #fff !important;
}

.fcred {
  color: #f41400 !important;
}

.fcred1 {
  color: #e26a21 !important;
}

.fcyellow {
  color: #e5c04e !important;
}

.fc333 {
  color: #333 !important;
}

.fc666 {
  color: #666 !important;
}

.fc999 {
  color: #999 !important;
}

.fcgreen {
  color: #6db23d !important;
}
.bgf5{
  background: #f5f5f5;
}
.w100{
  width: 100% !important;
}
/**************** margin ***************/
.mart10 {
  margin-top: 10px !important;
}

.mart20 {
  margin-top: 20px !important;
}

.mart30 {
  margin-top: 30px !important;
}

.mart40 {
  margin-top: 40px !important;
}

.mart60 {
  margin-top: 60px !important;
}

.mart80 {
  margin-top: 80px !important;
}

.mart100 {
  margin-top: 100px !important;
}

.mart140 {
  margin-top: 140px !important;
}

.marb10 {
  margin-bottom: 10px !important;
}

.marb20 {
  margin-bottom: 20px !important;
}

.marb30 {
  margin-bottom: 30px !important;
}

.marb40 {
  margin-bottom: 40px !important;
}

.marb60 {
  margin-bottom: 60px !important;
}

.marb80 {
  margin-bottom: 80px !important;
}

.marb100 {
  margin-bottom: 100px !important;
}

.marb140 {
  margin-bottom: 140px !important;
}

.marl10 {
  margin-left: 10px !important;
}

.marl20 {
  margin-left: 20px !important;
}

.marl30 {
  margin-left: 30px !important;
}

.marl40 {
  margin-left: 40px !important;
}

.marl60 {
  margin-left: 60px !important;
}

.marl80 {
  margin-left: 80px !important;
}

.marl100 {
  margin-left: 100px !important;
}

.marl140 {
  margin-left: 140px !important;
}

.marr10 {
  margin-right: 10px !important;
}

.marr20 {
  margin-right: 20px !important;
}

.marr30 {
  margin-right: 30px !important;
}

.marr40 {
  margin-right: 40px !important;
}

.marr60 {
  margin-right: 60px !important;
}

.marr80 {
  margin-right: 80px !important;
}

.marr100 {
  margin-right: 100px !important;
}

.marr140 {
  margin-right: 140px !important;
}

/**************** padding ***************/
.padt10 {
  padding-top: 10px !important;
}

.padt20 {
  padding-top: 20px !important;
}

.padt30 {
  padding-top: 30px !important;
}

.padt40 {
  padding-top: 40px !important;
}

.padt60 {
  padding-top: 60px !important;
}

.padt80 {
  padding-top: 80px !important;
}

.padt100 {
  padding-top: 100px !important;
}

.padt140 {
  padding-top: 140px !important;
}

.padb10 {
  padding-bottom: 10px !important;
}

.padb20 {
  padding-bottom: 20px !important;
}

.padb30 {
  padding-bottom: 30px !important;
}

.padb40 {
  padding-bottom: 40px !important;
}

.padb60 {
  padding-bottom: 60px !important;
}

.padb80 {
  padding-bottom: 80px !important;
}

.padb100 {
  padding-bottom: 100px !important;
}

.padb140 {
  padding-bottom: 140px !important;
}

.padl10 {
  padding-left: 10px !important;
}

.padl20 {
  padding-left: 20px !important;
}

.padl30 {
  padding-left: 30px !important;
}

.padl40 {
  padding-left: 40px !important;
}

.padl60 {
  padding-left: 60px !important;
}

.padl80 {
  padding-left: 80px !important;
}

.padl100 {
  padding-left: 100px !important;
}

.padl140 {
  padding-left: 140px !important;
}

.padr10 {
  padding-right: 10px !important;
}

.padr20 {
  padding-right: 20px !important;
}

.padr30 {
  padding-right: 30px !important;
}

.padr40 {
  padding-right: 40px !important;
}

.padr60 {
  padding-right: 60px !important;
}

.padr80 {
  padding-right: 80px !important;
}

.padr100 {
  padding-right: 100px !important;
}

.padr140 {
  padding-right: 140px !important;
}

.padt120 {
  padding-top: 120px;
}

.rel {
  position: relative;
}

/**************** font-size ***************/
.fs12{
  font-size: 12px;
}
.fs14{
  font-size: 14px;
}
.fs16{
  font-size: 16px;
}
.fs18{
  font-size: 18px;
}



/* top-bar */
.top-bar {
  width: 100%;
  background-color: #f5f5f5;
  height: 30px;
  line-height: 30px;
  color: #999999;
  border-bottom: 1px solid #e3e3e3;
}

.tp-bd .lnk-home {
    color: #666;
}

.tp-bd .fa {
  color: #666;
  margin-right: 5px;
}

.top-bar .top-nav {
  color: #666;
}

.top-bar .top-nav a {
  color: #666;
}

.top-bar .top-nav a.n {
  margin: 0 10px;
}

.top-bar .top-nav li.uitem {
  float: left;
  border-top: none;
  border-bottom: none;
}

.top-bar .tp-bd li i {
  font-style: normal;
  color: #dddddd;
  font-size: 14px;
  font-family: Arial;
}

.top-bar .tp-bd li .fa {
  font-size: 16px;
  vertical-align: middle;
  margin-left: 7px;
}

.top-bar .dropdown {
  position: relative;
}

.top-bar .dropdown .dbox {
  width: 100%;
  position: absolute;
  top: 28px;
  z-index: 100;
  line-height: 18px;
  left: -274px;
  padding: 5px 0 10px 0px;
  border: solid 1px #e4e4e4;
  display: none;
  background-color: #fff;
  width: 388px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}

.top-bar .dropdown .dbox dd {
  line-height: 30px;
  float: left;
    font-size: 12px;
  margin-right: 40px;
}

.top-bar .dropdown:hover .dbox {
  display: block;
  border-top-color: transparent;
}

.top-bar .dropdown:hover .dmember {
}

.top-bar .dropdown:hover .dmember dd {
}

.top-bar .dropdown:hover i {
  visibility: hidden;
}

.top-bar .dropdown:hover {
  background-color: #fff;
  border: solid 1px #e4e4e4;
}
/* top-bar End */


/* header */
.fixed-wrapper {
  position: relative;
  z-index: 1500;
  width: 100%;
  background-color: #fff;
}

.isStuck .search-ft {
  display: none;
}

.isStuck .header {
  box-shadow: 2px 20px 42px -49px #727272;
  border-bottom: 1px solid #F9F9F9;
}
/* end of header */

/* header */
.header {
  width: 100%;
  min-width: 1200px;
  height: 93px;
  background-color: #fff;
  box-shadow: 0px 2px 2px #fff;
  border-bottom: 1px solid #fff;
  padding:10px 0;
}

.header .logo {
  padding-top: 9px;
}

.search-hd {
  line-height: 24px;
  height: 24px;
}

.search-hd li.search-tab {
  float: left;
  background-color: #f0f0f0;
  line-height: 12px;
  padding: 6px 13px;
  cursor: pointer;
  color: #676767;
}

.search-hd li.selected {
  background-color: #6db23d;
  color: #fff;
  position: relative;
}

.search-hd li.selected i {
  display: block;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -5px;
  background: url(../images/icon/tab_arraw_b.jpg) no-repeat;
  width: 10px;
  height: 6px;
}

.search-bd {
  border: solid 3px #6db23d;
}
.search-bd input:focus{box-shadow: 0px 1px 2px 1px #e0e6e0 inset;}
.space {
  visibility: hidden;
  height: 10px;
}

.search-wrap {
  width: 622px;
  margin-top: 14px;
  margin-right: 90px;
}

.search-bd .inp-search {
  height: 20px;
  line-height: 20px;
  padding: 5px 4px;
  border: none;
  width: 508px;
  float: left;
  outline: none;
}

.search-bd button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #6db23d;
  border-left: solid 1px #ccc;
  outline: none;
  position: relative;
  color: #fff;
}

.search-bd button i {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: url(../images/icon/icon_search_btn.jpg) no-repeat;
  width: 30px;
  height: 30px
}

.search-ft {
  color: #333;
  padding-top: 10px;
}

.search-ft dl {
  float: left;
}

.search-ft dt {
  float: left;
}

.search-ft dd {
  float: left;
  width: 410px;
  visibility: visible;
  height: 40px;
  overflow: hidden;
  line-height: 1.8
}

.search-ft dd a {
  margin-right: 16px;
}
/* end of header */
/* slider */
.sliders {
  float: left;
  position: relative;
  width: 623px;
  height: 324px;
  margin: 0 auto;
  overflow: hidden;
}

.sliders .bd li {
  position: absolute;
  left: 0;
  top: 0;
}

.index_focus_post {
  z-index: 10;
}

.sliders .pic {
  height: auto;
  display: block;
}

.sliders .pic:hover {
  text-decoration: none;
}

.sliders .slide_nav {
  position: absolute;
  right: 25px;
  bottom: 10px;
}

.sliders .slide_nav a {
  cursor: pointer;
  float: left;
  font-size: 20px;
  font-family: arial;
  color: #fff;
  margin: 0 5px 0 10px;
}

.sliders .slide_nav a:hover {
  text-decoration: none;
}

.sliders .slide_nav li:hover,.sliders .slide_nav .on {
  text-decoration: none;
  color: #9c0;
  filter: alpha(opacity=80);
  opacity: 0.8;
  font-size: 20px;
}

.index_focus_pre,.index_focus_next {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  width: 72px;
  height: 72px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
}

.index_focus_pre {
  left: 30px;
  background-position: 0 0;
}

.index_focus_pre:hover {
  background-position: 0 -144px;
}

.index_focus_next {
  right: 30px;
  background-position: 0 -72px;
}

.index_focus_next:hover {
  background-position: 0 -216px;
}

.index_focus_info {
  position: absolute;
  left: 10%;
  bottom: 12%;
  width: 800px;
  height: 200px;
  padding-bottom: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: "\5fae\8f6f\96c5\9ed1";
  -moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  background: url("../images/icon/index_focus_bg.png") no-repeat;
  _background: none;
}

.index_focus_info h3 {
  font-size: 36px;
  line-height: 70px;
  font-family: \5fae\8f6f\96c5\9ed1,\u9ed1\u4f53,"Lucida Grande";
  display: none;
}

.index_focus_info .text {
  width: 500px;
  line-height: 24px;
  font-size: 14px;
  word-wrap: break-word;
  overflow: hidden;
  display: none;
}
/* end of slider */ 
.footer {
  margin-top: 88px;
  background: #666;
  color: #999;
}

.footer-hd dl .fa {
  text-align: center;
  margin-left: 14px;
  color: #CCC;
  font-size: 26px;
}

.footer .footer-hd {
  width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.footer .footer-hd dl {
  overflow: hidden;
  float: left;
  margin-left: 160px;
  line-height: 1.8
}

.footer .footer-hd dl dt {
  font-size: 14px;
  font-weight: bold;
  color: #565656;
}

.footer .footer-hd dl dd a {
  color: #717171;
}

.footer .footer-hd dl dd a:hover {
  color: #89C975;
}

.footer .footer-bd {
  font-size: 12px;
  color: #999;
  line-height: 2;
  text-align: center;
  padding: 40px 0;
}

.footer .footer-bd a {
  color: #565656;
}

.footer .footer-bd span {
  margin: 0 8px;
}

.footer-hd dl dd {
  padding: 2px;
  font-size: 12px;
}

.copyright p {
  padding: 0;
  margin: 0
}

/* user-mans */
.page {
  margin-top: 0px;
  overflow: hidden;
}

.user-mans {
  width: 125px;
  float: left;
  margin-right: 15px;
  background: #f6f6f6;
}

.page .main-content {
  overflow: hidden;
  zoom: 1;
  min-height: 500px;
  margin-bottom: 15px;
  padding-bottom: 66px;
  border: 1px solid #ddd;
}
.prelat .main-content{
    border:none !important;
}
.user-mans .ucenter {
  background-color: #89C975;
  line-height: 50px;
  text-align: center;
  color: #F2FFF1;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.user-navs {
  padding: 10px 0;
  border: 1px solid #ddd;
}

.user-navs li {
  line-height: 30px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 10px;
  text-indent: 26px;
}
.user-navs li>a{
  color: #333333;
  font-size: 14px;
}
.user-navs li dl a{
  color: #666;
}
.user-navs li.current .active {
  display: block;
}

.user-navs li.current .active a.mlnks,.user-navs li.current a.mlnks {
    color:#ddb94a;
    display: block;
    width: 100%;
    border-left:4px solid #6db23d;
}

.user-navs li em {
  font-style: normal;
  font-family: Arial;
  font-size: 16px;
  margin-right: 4px;
  margin-left: -14px;
}

/* end of user-mans */

/* mod-pagination */
.mod-pagination {
  overflow: hidden;
  zoom: 1;
  padding: 15px 0;
}

.mod-pagination .page-bottom {
  float: right
}

.mod-pagination .page-bottom span,.mod-pagination .page-bottom a {
  cursor: pointer;
  background-color: #fff;
  float: left;
  padding: 4px 7px 5px;
  line-height: 1;
  border: solid 1px #e3e3e3;
  margin-left: 10px;
  color: #999;
}

.mod-pagination .page-bottom a:hover {
  text-decoration: none;
}

.mod-pagination .page-bottom .page-cur {
  color: #fff;
  border: solid 1px #6AA277;
  background-color: #6AA277
}

.mod-pagination .fa-caret-left {
  margin-right: 4px;
}

.mod-pagination .fa-caret-right {
  margin-left: 4px;
}

.pagination {
  margin-top: 10px;
}

.pagination a {
  text-decoration: none;
  border: solid 1px #e3e3e3;
  color: #999;
  background-color: #fff;
}

.pagination a, .pagination span {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pagination .current {
  background: #89C975;
  color: #fff;
}

.pagination .current.prev, .pagination .current.next {
  color: #999;
  background: #fff;
  border: solid 1px #D8D8D8;
}

.calendar_sel {
  float: left;
  _display: inline;
  margin: 0 0 0 5px;
  background: url('/images/icon/calendar-icon.png') no-repeat;
}

/* end of mod-pagination */

/* form */
.csel {
  height: 35px;
  width: 111px;
  border: 1px solid #ccc;
  text-align: center;
  margin-top: 3px;
  /*margin-left: 12px;*/
  background: #FEFEFE;
    color: #666;
}
.csel:active,.csel:focus{border:1px solid rgba(109,178,61,0.9);}
.to {
  margin: 0 10px;
}

.cinp {
  height: 16px;
  line-height: 16px;
  padding: 1px;
  outline: medium none;
  border: 1px solid #CCC;
  width: 136px;
  margin-left: 11px;
}

.cbtn {
  height: 25px;
  line-height: 24px;
    background: #6db23d;
  padding: 0 12px;
  color: #fff;
  border-radius: 3px;
  transition: width 2s;
  -moz-transition: background-color 0.5s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.5s;
  /* Safari and Chrome */
  -o-transition: background-color 0.5s;
  /* Opera */
  margin-right: 10px;
}

.cbtn:hover {

}

.file-btn {
}

.cinp:focus {
  border: 1px solid orange
}

button.file-btn {
  display: inline-block;
  width: 90px;
  height: 24px;
  background: #e3e3e3;
  position: relative;
  overflow: hidden;
  border: solid 1px #ccc;
}

button.file-btn .cfile {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 100px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.cinp-date {
  padding: 1px;
  outline: medium none;
  border: 1px solid #CCC;
  width: 90px;
}

.cinp-date:focus {
  border: 1px solid orange
}
/* end of form */

.pa-stock a ,.pa-stock input {
  float: left;
}

.pa-stock a {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #eeeeee;
}
.increase{
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.increase::before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #a9a9a9;
  position: absolute;
  top: 2px;
  left: 5px;
}
.pa-stock .disable-increase {
  color: #999;
  background: #fff;
}

.reduce{
  position: absolute;
  top: 21px;
  height: 19px !important;
  right: 0;
  border-left: 1px solid #ddd;
}
.reduce::before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #a9a9a9;
  position: absolute;
  top: 7px;
  left: 5px;
}

.pa-stock input.p-text {
  margin-right: 10px;
  width: 80px;
  height: 40px !important;
  padding: 0 10px;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1
}

.alert-error {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc
}

.price {
  float: left;
  font-size: 16px;
}

.g_price {
  font-family: arial;
}

.g_price-highlight span {
  color: #F40;
}

.g_price span {
  margin-right: 3px;
  color: #999;
}

.price strong {
  font-weight: 700;
}

.g_price strong {
  color: #F40;
  font-weight: 700;
  font-family: verdana,arial;
}

.newp {
  height: 24px;
  line-height: 24px;
  border: solid 1px #e8e8e8;
  padding: 0 9px;
  background: #f6f6f6;
  color: #6b6b6b;
  display: inline-block;
}

.ctarea {
  outline: none;
  border: solid 1px #ccc;
  width: 250px;
  height: 70px;
  padding: 4px;
  resize: none;
}

.noData {
  box-sizing:border-box;
  width: 100%;
  padding : 200px 50px;
  background: #f5f5f5;
  margin-top: 50px;
}

.noData h3 {
  text-align: center;
  color: #DADADA;
  font-size: 18px;
  border: 1px solid #F3F3F3;
}


/************************    改版样式       ******************/
.triangle {
  padding: 1px 5px;
  background: #e5c04e;
  position: relative;
  border-radius: 2px;
}

.triangle::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-left: 0px solid #e5c04e;
  border-top: 6px solid transparent;
  border-right: 6px solid #e5c04e;
  border-bottom: 6px solid transparent;
  position: absolute;
  left: -6px;
  top: 3px;
}

.gn-loginout a {
  background: #e5c04e;
  padding: 1px 5px;
  color: #fff !important;
  border-radius: 5px;
}

.user-face {
  width: 88px;
  text-align: center;
}

.dlData {
  width: 300px;
}
.dlData a:hover{
  color: #6db23d;
  text-decoration: underline;
}

.dlData h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}

.dropdown {
  border-top: 2px solid transparent !important;
}

.dropdown:hover {
  border-top: 2px solid #6db23d !important;
}

.dropdown-face {
  width: 12px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.delisting {
    padding-top: 34px;
  margin-left: 20px;
}

.delisting a {
    background: #e5c04e;
    color: #fff;
    display: block;
    width: 118px;
    height: 38px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #e5c04e;
}
.delisting a:hover{background: #ddb94a;}
.isStuck .top-bar {
  display: none;
}

/************** 导航 ************/
.nav {
  border-bottom: 2px solid #558a2f;
  height: 50px;
  line-height: 50px;
}

.nav-dl {
  width: 230px;
  float: left;
}

.nav-dl >dt {
  width: 200px;
  background: #558a2f;
  color: #fff;
  text-align: center;
  font-weight: 18px;
  font-weight: normal;
}
.nav-dl > dt span{
  margin-left: 30px;
}
.nav-dl >dd {
  position: absolute;
  top: 51px;
  left: 0;
  padding-top: 10px;
  width:198px;
  height: 390px;
  background: #6db23d;
  z-index: 8;
  border-left: 1px solid #6db23d;
  display: none;
}
.nav-dl:hover > dt span{
  transition : all .4s;
  transform : rotate(180deg);
}
.nav-dl:hover >dd {
  display: block;
}


.nav-dl >dd h2 {
  font-weight: normal;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.nav-dl h2 > span {
  display: block;
  width: 200px;
  text-align: left;
  position: relative;
}

.nav-dl h2:hover > span {
  background: #fff;
  color: #6db23d;
  transition : all .4s;
}
.nav-dl h2 > span i{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 35px;
  margin-right: 10px;
  position: relative;
  top: 6px;
}
.nav-dl h2:hover > span i{
  margin-left: 40px;
  transition : all .1s;
}
.icon1 i{
  background: url(../images/nav-icons.png) -65px -55px no-repeat;
}
.nav-dl h2:hover .icon1 i{
  background: url(../images/nav-icons.png) -24px -55px no-repeat;
}

.icon2 i{
  background: url(../images/nav-icons.png) -65px -118px no-repeat;
}
.nav-dl h2:hover .icon2 i{
  background: url(../images/nav-icons.png) -24px -118px no-repeat;
}

.icon3 i{
  background: url(../images/nav-icons.png) -65px -183px no-repeat;
}
.nav-dl h2:hover .icon3 i{
  background: url(../images/nav-icons.png) -24px -183px no-repeat;
}

.icon4 i{
  background: url(../images/nav-icons.png) -65px -249px no-repeat;
}
.nav-dl h2:hover .icon4 i{
  background: url(../images/nav-icons.png) -24px -249px no-repeat;
}


.nav-dl h2 > span > span{
  display: inline-block;
  width: 4px;
  height: 7px;
  background: url(../images/nav-icons.png) 0 0 no-repeat;
  position: absolute;
  top: 21px;
  right: 40px;
}
.nav-dl h2:hover > span > span{
  background: url(../images/nav-icons.png) -6px 0 no-repeat;
}


.nav-dl h2 .dl-left {
  position: absolute;
  top: 0;
  left: 198px;
  width: 939px;
  height: 400px;
  background: #f7f7f7;
  border-right: 1px solid #6db23d;
  border-bottom: 1px solid #6db23d;
  display: none;
}

.nav-dl h2:hover .dl-left {
  display: block;
}
.nav-dl h2 .dl-left dl{
  clear: both;
}
.nav-dl h2 .dl-left dt {
    color: #333;
    font-weight:normal !important;
    min-width: 69px;
    float: left;
    position: relative;
    display: block;
    text-align: right;
    padding-right: 40px

}
.nav-dl h2 .dl-left dt i{
 display: inline-block;
 width: 4px;
 height: 7px;
 background: url(../images/nav-icons.png) -6px 0 no-repeat;
 position: absolute;
 top: 22px;
 right: 20px;
}

.nav-dl h2 .dl-left dd {
  width: 800px;
  float: left;
  text-align: left;
  border-bottom: 1px solid #eeeeee;
}

.nav-dl h2 .dl-left dd:last-child{
 border-bottom: none;
}

.nav-dl h2 .dl-left dd a {
  padding : 0 10px;
    font-size: 12px;
  border-left: 1px solid #e0e0e0;
}

.nav-ul {
  width: 900px;
  float: left;
}

.nav-ul li {
  display: inline-block;
  width: 170px;
    font-size: 16px;
  text-align: center;
}

.nav-ul a {
  color: #666666;
}

.nav-ul a:hover {
  color: #6db23d;
}

.isStuck .nav {
  display: none;
}

/************** 轮播 ************/
.swiper-container {
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 1200px;
  height: 286px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transform-style: preserve-3d;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  transform-style: preserve-3d;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: all 300ms ease 0s;
  transform: translate3d(0px, 0px, 0px);
  z-index: 10;
}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0px;
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0px 5px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  background: #000 none repeat scroll 0% 0%;
  opacity: 0.2;
  cursor: pointer;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0px 5px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #e5c04e none repeat scroll 0% 0%;
}

/************** 筛选 ************/
.screen {
  padding: 5px 5px 20px 5px;
  border: 1px solid #dddddd;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  width: 1190px;
}

.screen-title {
  width: 150px;
  text-align: center;
  float: left;
}

.screen-title h1 {
  font-weight: normal;
  color: #333333;
  font-size: 18px;
  line-height: 68px;
}

.screen-main {
  float: left;
  width: 1040px;
}

.input-group {
  display: inline-block !important;
  border: 1px solid #dddddd !important;
  line-height: 18px !important;
  border-radius: 2px !important;
  margin-right: 10px !important;
}
.input-group:focus,.input-group:active{
  border-color: #6db23d;
}

.group-txt {
  background: #fff !important;
  color: #333;
  padding: 10px 15px !important;
  display: inline-block !important;
  text-align: center !important;
}

.group-box {
  display: inline-block !important;
  width: 260px !important;
  text-align: center !important;
  position: relative !important;
}

.group-box .val {
  display: inline-block !important;
  color: #999999 !important;
  width: 100% !important;
  padding: 10px 0 !important;
  cursor: pointer !important;
}

.group-box .val i {
  display: block !important;
  position: absolute !important;
  top: 16px !important;
  right: 12px !important;
  width: 0 !important;
  height: 0 !important;
  border-bottom: 5px solid transparent !important;
  border-top: 5px solid #aaaaaa !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}

.group-box ul {
  position: absolute !important;
  top: 39px !important;
  left: -82px !important;
  background: #fff !important;
  border: 1px solid #ddd !important;
  width: 341px !important;
  line-height: 40px !important;
  z-index: 88 !important;
  display: none ;
}

.input-group ul {
  color: #333333;
}

.input-group ul li:hover {
  background: #f5f5f5 !important;

}

.input-group ul li:hover {
  color: #6eb13d !important;
}

.screen-search {
  display: inline-block;
  width: 246px;
  height: 38px;
  border: 1px solid #6db23d;
  position: relative;
  top: 14px;
  left: 50px;
}

.screen-search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 38px !important;
  line-height: 38px;
  padding: 0 10px;
  border: none;
}

.screen-search label {
  display: block;
  width: 36px;
  height: 38px;
  background: url('../images/search-icon.png') 10px 10px no-repeat #6db23d;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

/************** 产品主体 ************/
.panel {
  box-sizing: border-box;
  width: 590px;
  padding: 30px 10px 0px 30px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
    background-color: #fff;
    transition: all .2s;
    -moz-transition: all .2s; /* Firefox 4 */
    -webkit-transition: all .2s; /* Safari 和 Chrome */
    -o-transition: all .2s; /* Opera */
}
.panel:hover{ box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);}
.product .panel:nth-child(2n) {
  margin-left: 20px;
}

.panel-title {
  height: 40px;
  line-height: 40px;
  color: #888;
}

.product-name {
  font-size: 18px;
  color: #fff;
  background: #6db23d;
  padding: 0px 30px 0px 15px;
  font-weight: normal;
  position: relative;
  margin-right: 30px;
  display: inline-block;
  line-height: 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.product-name::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 5px solid #fff;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 4px;
}

.product-name::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid #6db23d;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 0px;
  right: -30px;
}

.product-price small {
  font-size: 12px;
  color: #e5c04e;
}

.product-price big {
 font-size: 18px;
 color: #e5c04e;
 font-weight: 600;
}

.panel-body {
  line-height: 30px;
  color: #888888;
  height: 164px;
}

.panel-body li {
  display: inline-block;
  width: 49%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.liTitle {
  color: #666;
}

.promise {
  border-radius: 15px;
  background: #f9dfde;
  color: #e25f59;
  padding: 5px 8px;
}

.describe-box {
  margin-top: 10px;
  width: 548px;
  height: 82px;
}

.product-describe {
  box-sizing: border-box;
  padding: 20px 50px;
  border-radius: 8px;
  background: #f0f7eb;
  color: #609c35;
  position: relative;
}

.product-describe::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f0f7eb;
  border-top: 10px solid transparent;
  border-right: 10px solid #f0f7eb;
  position: absolute;
  bottom: 0;
  left: -16px;
}

.product-bottom {
  background: #f0f0f0;
  color: #666666;
  margin: 15px -30px  0 -30px;
  width: 568px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 50px;
  padding: 0 10px;
}

.product-bl {
  box-sizing: border-box;
  display: inline-block;
  width: 222px;
  padding-left: 20px;
}

.product-br {
  box-sizing: border-box;
  display: inline-block;
  width: 340px;
}

.product-br span {
  background: #d6e4cc;
  color: #6db23d;
  padding: 3px 15px;
  border-radius: 2px;
  margin-right: 5px;
}
.dataTables_scrollBody tbody{
  color: #666;
}
.crumb a:last-child{
  color: #999;
}
.updialog .hd{
  border: none !important;
}
.uitem.dropdown:hover .fa-angle-down{
  transition : all .4s;
  transform: rotate(180deg);
}
#J_LoginBox{
  position: relative;
  top: 100px;
  top:0px\9;
  opacity: 1\9;
  animation: login ease 1s  forwards;
  -moz-animation: login ease 1s  forwards;  /* Firefox */
  -webkit-animation: login ease 1s  forwards; /* Safari 和 Chrome */
  -o-animation: login ease 1s  forwards ;  /* Opera */
}
@keyframes login
{
 0% {
  top : 100px;
  opacity: 0;
}
100% {
  top : 0px;
  opacity: 1;
}
}

@-moz-keyframes login /* Firefox */
{
 0% {
  top : 100px;
  opacity: 0;
}
100% {
  top : 0px;
  opacity: 1;
}
}

@-webkit-keyframes login /* Safari 和 Chrome */
{
 0% {
  top : 100px;
  opacity: 0;
}
100% {
  top : 0px;
  opacity: 1;
}
}

@-o-keyframes login /* Opera */
{
 0% {
  top : 100px;
  opacity: 0;
}
100% {
  top : 0px;
  opacity: 1;
}
}
.sell-delist .main-content{
  border: none !important;
}
.gp-step4 .ui-table{
  margin : 20px 0;
}
.gp-step4 .ui-table td,.gp-step4 .ui-table tr{
  border : none !important;
}
.gp-step4 .form_control input[type="text"]{
 width: 100% !important;
}
.gp-step4 textarea{
  width: 100%;
  margin-left: 10px;
  padding: 5px;
  border:1px solid #ddd;
  border-radius: 4px;
  resize:none;
}
.gp-step4 .btn-upload_unselected,.gp-step4 .btn-upload-selected{
  background-color: #fff !important;
  border:1px solid #ddd;
  color: #ca7b3b !important;
  border-radius: 4px;
  padding: 13px 26px !important;
}
.gp-step4 .btn-upload_unselected input:not([type="radio"]):not([type="checkbox"]):not([type="button"]), select{
    height: 28px !important;
}
.up-form-control{
  width: 100% !important;
  border-radius: 4px;
}
.up-form-control .valid_message{
  left: auto !important;
  right: 5px !important;
}
.up-bind-item{
  margin : 40px 26px !important;
}
.up-bind-item .title{
  margin-left: 0px !important;
}
.btn-sell{
  border-radius: 4px;
}
.step-pad{
  padding-bottom: 66px;
  min-height: 360px;
}
.up-img{
  padding: 5px;
  border:1px solid #ddd;
  border-radius: 4px;
}
.login-main input{
  border-radius: 4px;
}
.login-main input[type=text]:focus,.login-main input[type=password]:focus{
  border-color: #6fb33f;
  webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#dataset{
  margin-bottom: 15px;
}
.up-main-content{
  border:none !important;
}
.up-custfilter{
  width:99%;
  border:none !important;
  border-bottom: 1px solid #ddd !important;
  margin-left: 5px;
}
.up-search  .filtersection:first-child .filterhd,.up-search  .filtersection:first-child .filterbd{
  border-top: 1px solid #ddd !important;
}
.up-search  .filtersection .filterhd{
  background: #f5f5f5;
  padding-bottom: 5px;
  padding-top: 5px !important;
  font-weight: normal !important;
  color: #333;
}
.up-search  .filtersection .filterbd{
  padding-bottom: 5px;
  padding-top: 5px !important;
  line-height: 28px !important;
   color: #888888;
}
.up-search  .filtersection .filterbd li{
  margin:  0px 5px 0px 5px !important;
  border-color: transparent !important;
}
.up-search  .filtersection .filterbd .active{
  color: #fff !important;
  background: #6db23d !important;
    border-radius: 4px !important;
}
.up-search .custsort{
  background: #f5f5f5;
}
.up-search .custsort .sortbar li{
  margin: 0 !important;
  line-height: 40px; 
}
.up-search .custsort .sortbar ul .active{
  background-color: #fff !important;
color:#6db23d !important;
border-bottom: 1px solid transparent;
}
.up-search .custsort .sortbar ul{
  width: auto !important;
}
.up-search .custsort .sortbar ul li:first-child.active{
  border-left: 1px solid transparent;
}
.up-search .dataTables_filter input[type=search]{
    padding: 5px 10px !important;
    margin-top: 8px;
    border: 1px solid #ddd;
}
.up-search .dataTables_filter input[type=search]:focus{border:1px solid #e5c04e;}
.up-search .custfilter .filtersection .filterbd .filtinterval{
  margin: 0 !important;
}
.up-search .custfilter .filtersection .filterbd .filtinterval input{
  padding: 2px 5px;
  border:1px solid #ddd;
  border-radius: 1px;
}
.up-search .custfilter .filtersection .filterbd .filtinterval input:focus{border:1px solid #e5c04e;}
.up-search .custfilter .filtersection .filterbd .filtbtn{
  background: #fff;
  border-color: #6db23d;
  color:#6db23d;
  border-radius: 2px;
  line-height: 17px;
  height: 17px;
}
.up-tabbar{
  border-bottom:none !important;
  position: relative;
}
.up-tabbar::after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 1;
}
.up-tabbar ul{
  position: relative;
  z-index: 2;
}
.up-tabbar li.selected{
  border-right: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
}
.up-tabbar ul li:first-child.selected{
  border-left: none !important;
}
.dataTables_empty{
  background: url(/normal/images/no_goods.png) 460px center no-repeat;
  height: 300px;
  color: transparent !important;
}

/*-------------- 分页 ----------------*/
.up-page{
  line-height: 36px;
  text-align: center;
  color: #aaaaaa;
}
.up-page a{
  color: #666;
   padding: 0 12px;
}
.up-page div{
  display: inline-block;
}
.prev a,.next a{
  border: 1px solid #e4e4e4;
  display: inline-block;  
}
.prev a:hover,.next a:hover{
  background: #6db23d;
  color: #fff;
}
.prev .disabled{
  cursor: default;
  color: #aaa;
}
.prev .disabled:hover,.next .disabled:hover{
  color: #aaa;
  background: #fff;
}


.up-page-main{
  margin: 0 10px;
}
.up-page-main a{
  display: inline-block;
  border: 1px solid #e4e4e4;
  border-left: none; 
  padding: 0 14px;
}
.up-page-main a.active{
  color: #fff;
  background: #6db23d;
}
.up-page-main a:first-child{
   border-left: 1px solid #e4e4e4;
}
.up-page-main span{
  margin: 0 10px;
}
.up-page-main span + a{
    border-left: 1px solid #e4e4e4; 
}
.up-pager{
  position: relative;
  top: -1px;
}
.up-pager input{
  line-height: 36px;
    height: 36px !important;
    border: 1px solid #e4e4e4;
    width: 36px;
    text-align: center;
}
.up-pager a{
  border: 1px solid #e4e4e4;
  display: inline-block;
  background: #f9f9f9;
  border-radius: 4px;
  margin-left: 5px;
}
.up-item{
  width: 700px;
 height: 60px;
 line-height: 60px;
 background: #f4f4f4;
 color: #666666;
 margin-top: 70px;
}
.up-item span{
padding-left: 20px;
}
.up-primary thead td{
background: #f7f7f7;
color: #6db23d;
}
.up-table td{
  border-bottom: 1px solid #ddd !important;
}
.up-search .crumb{
  text-align: left;
}
.up-search .sell-commodity .c-summary .sum-commname{
  background: #fff !important;
  padding: 6px 0px 6px 0;
 
}
.up-search .sum-detail{
  overflow: hidden;
    height: 78px;
    line-height: 36px;
    margin-top: 0px !important;
}
.up-search .sum-detail span{
  display: inline-block;
  width: 31.3%;
  font-size: 13px !important;
  color: #888888;
  text-align: left;
}
.up-search .sum-detail span strong{
  color: #555555;
}
.up-search .sell-commodity .c-supply{
margin: 0px -11px;
float: right;
width: 13%;
height: 119px;
}
.up-search .sell-commodity .c-caption{
  height: 139px;
  padding: 0;
  width: 12%
}
.up-search .sell-commodity .c-supply .sup-sellinfo {
    float: left;
    width: 100%;
    height: 92px;
    border-left: 1px solid #ddd;
    margin-left: -1px;
}
.up-search td:hover .sum-commname{
  background: #F3F3F3 !important;
}
.up-search{
  text-align: center;
}
.up-search .sup-sellinfo a{
  display: inline-block;
  width: 80px;
  height:  26px;
  text-align: center;
  line-height: 26px;
  background: #6db23d;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  margin-top: 30px;
}
.up-search .sup-sellinfo a:hover{
  background: #558a2f;
}
.up-search .sup-sellinfo a.disabled{
  background: #fff;
  color: #888888;
  border:1px solid #ddd;
  cursor: default;
}
.up-search .cap-img{
  padding: 10px;
}
.up-search .sell-commodity .c-summary{
  width: 75.7%;
}
.up-search .sell-commodity .c-supply .sup-doe{
  font-size: 13px;
  color: #555555;
}
.up-search .sum-detail>div{
  overflow: hidden;
}
.up-search .sum-detail>div:first-child{
  border-bottom: 1px solid #ddd;
}
.up-search .sum-detail>div span:first-child{
  margin-left: 10px;
}
.up-search .sum-detail>div span strong{
  margin-right: 5px;
}
.up-search .sell-commodity .c-summary .sum-commname{
  text-align: left;
}
.up-search .sell-commodity .c-summary .sum-commname span{
  background: transparent;
  color: #e5c04e;
  margin-left: 0;
  margin-right: 10px;
  font-size: 13px;
}
.sum-name{
  background: #6db23d !important;
  color: #fff !important;
  margin-left: 10px !important;
  padding-right: 30px !important;
  position: relative;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.sum-name:before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
 top: 9px;
 right: 0px;
}
.sum-name:after{
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-left: 15px solid #6db23d;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
 top: 0px;
 right: -30px;
}
.up-search .sell-commodity .c-summary .sum-commname span strong{
  font-size: 24px;
}
.up-search .sell-commodity .c-summary .sum-commname span i{
 color: #555;
 font-weight: bold;
 font-style: normal;
}
table.dataTable.hover tbody tr:hover .sum-commname, table.dataTable.display tbody tr:hover .sum-commname{
  background-color: #f6f6f6 !important;
}
.bornone{
  border:none !important;
}
#product-dialog1{
  position: relative;
  top: 28px;
}
#J_cdList #dataset_filter{
  margin-left: 0;
}
#J_cdList #dataset_filter input[type=search]{
  height: 30px;
  line-height: 30px;
  width: 120px;
  padding: 0 10px !important;
  background: #eeeeee;
  border:none;
  border-radius: 4px;
}
#J_cdList .dt-buttons{
  float: none;
}
#J_cdList .dt-button{
  margin-left: 10px;
}
.cd-btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}
.cd-btn.cd-confirm{
  background: #6db23d;
  color: #fff;
}
.cd-btn.cd-confirm:hover{
  background: #4c9430;
}
.cd-btn.cd-cancle{
  color: #666666;
  border:1px solid #ddd;
  background: #fff;
}
#J_cdList #dataset_paginate{
  margin-left: 0 !important;
  margin-top: -6px;
}
#J_cdList .dataTables_wrapper .dataTables_info{
  margin-top: 0 !important;
  line-height: 9px;
}