
.service-full{ background: #FFFFFD;}
.service .service-side{width:230px;float:left;margin-top:5px;}
.service .main-c{width:644px;float:left;margin-left:0px;}
.service .main-c .cont{ background:#FE731B;height: 38px; line-height: 38px;}
.service .main-c .cont a{ color:#FCD8C2;;}
.service .mian-r{width:226px;float:right;margin-top:5px;}
.service-side h2{font-size: 17px;line-height: 41px;height: 41px;background-color: #89C975;font-weight: normal;color: #FBFBFB;text-indent: 10px;}
.service-side .service-bd{border:solid 1px #eee;border-top:none;}
.service-side .service-bd dt{background-color: #FCFCFC ;none repeat scroll 0% 0%;padding: 0px 12px;}
.service-side .service-bd dt h3{line-height:32px;height:32px;color:#717171;}
.service-side .service-bd .lnk-more{color:#717171;font-weight:normal;margin-top:7px;}
.service{ }
.tb-wrap{height:330px;overflow: hidden;}
.tb-wrap tr td{padding-bottom: 6px;border: 1px solid #F0F0F0;text-align: center;border-left:none; color:gray;}
.tb-wrap tr td:hover{padding-bottom: 6px;border: 1px solid #F0F0F0;text-align: center;border-left:none; color:#6AA277; cursor: pointer;}
.main-c{margin-top:-10px;}
.main-c .cont h2{font-size:16px;font-weight:600;color:#ff9200;padding-top:3px;}

.main-r-hd h3{background-color:#89C975;text-indent: 10px;line-height: 36px;height:41px;color: #FFF;font-size: 16px;}
.main-r-bd{border:solid 1px #efefef;height: 360px;overflow:hidden;}
.tb-box tr.last td{border:none;}
.tb-box thead{background-color:#f1f9fb;height:28px;line-height:28px;color:#015ea4;}
.tb-box tbody td{padding:8px 0;border-bottom:solid 1px #eee;}
.tb-box tbody td.pl15{padding:8px 0 8px 20px;}
.cat-tb td{padding:7px 0; text-align:center;background-color:#f9f9f9;border:solid 1px #eee;width:50%;}


.cat-b-wrapper{width:286px;float:left;}
.cat-hd{height:30px;line-height:30px;color:#fff;background-color:#3e3e3e;}
.cat-hd h3 span{display:inline-block;padding:0 15px;background-color:#4d9532;}
.cat-hd h3 span.org{background-color:#f47912;}
.channel{width:590px;float:left;margin-left:10px;}
.channel-item{padding:0 25px;}
.channel-item dt{font-size:14px;color:#029338;font-weight:600}
.channel-item dd{margin-top:10px;}
.channel-item .channel-list li{float:left;}
.side{float:right;width:204px;}  
.channel-item dl{width:50%;float:left;}      
.channel-item dl.last{width:100%;padding-top:10px;} 
.channel-item h3{padding-left:28px;}
.channel-item h3.s-s-cost{background:url(../images/icon/icon_XqnkDSV83CNjpg.jpg) no-repeat;}
.channel-item h3.s-s-pest{background:url(../images/icon/icon_6P4ZwNUJsB4.jpg) no-repeat;}
.channel-item h3.s-s-machine{background:url(../images/icon/icon_ZG5c1glINYL.jpg) no-repeat;}
.channel-item h3.s-s-fruits{background:url(../images/icon/icon_kzSVqNMdcJIv.jpg) no-repeat;}
.channel-item h3.s-s-med{background:url(../images/icon/icon_JylYPaT67sP.jpg) no-repeat;}
.channel-list{overflow:hidden;}
.channel-list li{float:left;margin-right:15px;margin-bottom:10px;}
.channel-item h3.s-s-crops{background:url(../images/icon/icon_qXCpst270vq.jpg) no-repeat;}
.channel-list .lnk-more{color:#f47912;}
.channel-list .lnk-more em{font-family:Arial}

.screen-bd.bg{background-color:#f5f5f5;}

.filtercomm {
    border-bottom: 0;
    clear: both;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
}

.custfilter{
    clear: both;
    width: 100%;
    overflow: hidden;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}


.custfilter .filtersection{
    margin: 10px 0 10px;
    border-right: 1px;
}


.custfilter .filtersection .filterhd{
    width: 5%;
    float: left;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-top: 1px  #ddd dashed;
    padding-top: 10px;
}


.custfilter .filtersection .filterbd {
    width: 94%;
    float: left;
    line-height: 28px;
    border-top: 1px #f5f5f5 dashed;
    position: relative;
    background: #fff;
}

.custfilter .filtersection .filterbd  .more-btn{
	float: right;
    margin-right: 20px;
    margin-top: 6px;
    padding: 3px 8px;
    cursor:pointer;
    display:none;

}

.custfilter .filtersection .filterbd  .more-btn:hover{
	border:#89C975 solid 1px;
}


.custfilter .filtersection .filterbd ul {
    display: inline-block;
    width: auto;
    float: left;
}

.custfilter .filtersection .filterbd li {
    float: left;
    display: inline-block;
    margin: 10px 5px 10px 5px;
    padding: 0 10px 0 10px;
    border: 1px solid #e8e8e8;
    cursor:pointer;
}

.custfilter .filtersection .filterbd li:hover{
	border:#89C975 solid 1px;
}

.custfilter .filtersection .filterbd .active {
    background-color: #89C975;
    color: #FFFFFF;
}

.custfilter .filtersection .filterbd .filtinterval{
	float: left;
    margin: 10px 5px 10px 5px;
    padding: 0 10px 0 10px;
}

.custfilter .filtersection .filterbd .intervalactive{ 

}

.custfilter .filtersection .filterbd .input-text{
    width: 38px;
    margin-top: 5px;
    float: left;
    height: 18px;
}

.custfilter .filtersection .filterbd em{
    float: left;
}

.custfilter .filtersection .filterbd .filtbtn{
	line-height: 14px;
    height: 14px;
    border-radius: 2px;
    background: #F7F7F7;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #DDD;
    padding: 2px 10px 3px;
    color: #666;
    background-color: #f7f7f7;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.custsort{
	display: inline-block;
	width:100%;
	margin-top: 10px;
	
}

.custsort .sortbar  ul{
    display: inline-block;
    width: 60%;
    float: left;
}

.custsort .sortbar li{
    float: left;
    display: inline-block;
    margin: 10px 5px 0px 5px;
    padding: 5px 10px;
    border: 1px solid #e8e8e8;
    cursor:pointer;
}

.custsort .sortbar li span{
	font-weight: bold;
    margin-left: 2px;
}

.custsort .sortbar li:hover{
	border:#89C975 solid 1px;
}


.custsort .sortbar ul .active{
    background-color: #89C975;
    color: #FFFFFF;
}

.sell-commodity{
	display:inline;
	width:100%;
}


.sell-commodity .c-caption{
	border-right: 1px solid #ddd;
	margin: -4px 0px;
    padding: 10px 0px;
	width:15%;
	float:left;
}

.sell-commodity .c-caption .cap-img{
	text-align: center;
}

.sell-commodity .c-caption .cap-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}

.sell-commodity .c-summary{

	width:65%;
	float:left;
}

.sell-commodity .c-summary .sum-commname{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: -4px 0px;
    padding: 10px 0px 10px;
	width:100%;
	color: #6AA277;
    font-size: 16px;
    background: #F3F3F3;  
}


.sell-commodity .c-summary .sum-commname span{
	background: #89C975 none repeat scroll 0% 0%;
    height: 30px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    margin-left:20px;
    line-height: 30px;
    color: #FCFBFA; 
}

.sell-commodity .c-summary .sum-detail{
	margin-top: 16px;
	width:100%;
}

.sell-commodity .c-summary .sum-detail span{
	float:left;
    margin: 4px 5px;
    font-size: 16px;
    min-width: 150px
}

.fixed-focus{
	color: #FF4219;
}

.fixed-bold{
	font-weight: bold
}

.sell-commodity .c-supply{
    margin: 0px -6px;
    float: right;
    width: 20.70%;
}

.sell-commodity .c-supply .sup-doe{
	width:100%;
    font-size: 16px; 
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 11px 0px 11px;

}

.sell-commodity .c-supply .sup-sellinfo{
	float:left;
	width:100%;
}

.sell-commodity .c-supply .sup-sellinfo span{
	word-wrap:break-word;
	word-break:break-all;
	float:left;
}

.sell-commodity .c-supply .sup-buy{
	width:100%;
	float:left;
	text-align: center;
}

.sell-commodity .c-supply .sup-buy .btn-buy{
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    padding: 0 25px;
    background-color: #FE731B;
    color: #fff;
    margin: 2px 0px 2px 15px;
}
