   <div class="main safe examine" ng-controller="safe"  >
    <div id="header">
     <div class="header-left"><a href="javascript:history.back(-1);" class="glyphicon glyphicon-menu-left" ></a></div>
     <div class="logo">
       {{safetitle}}
     </div>
   </div>

     <div class="container-fluid mart15">
      <div class="row safe-type txtcenter bgwhite  borderb">
        <div class="col-xs-6"><a href=""  ng-click="change(0);" class="active" id="btnb" >{{safedata[0].type}}</a>
        </div>
        <div class="col-xs-6"><a href="" ng-click="change(1);" id="btns">{{safedata[1].type}}</a></div>
      </div>
    </div>
    <div class="container-fluid marb15" ng-show="flag">
      <form class="form-horizontal">
       <div class="row">
        <div class="input-group    form-group-lg">
        <span class="input-group-addon">{{safedata[0].data[0].title}}</span>
          <input class="form-control"   type="password" placeholder="{{safedata[0].data[0].placeholder}}" value="" maxlength="20" required>
        </div>
         <div class="input-group  form-group-lg">
        <span class="input-group-addon">{{safedata[0].data[1].title}}</span>
          <input class="form-control"   type="password" placeholder="{{safedata[0].data[1].placeholder}}" value="" maxlength="20" required>
        </div>
         <div class="input-group  form-group-lg">
        <span class="input-group-addon">{{safedata[0].data[2].title}}</span>
          <input class="form-control"   type="password" placeholder="{{safedata[0].data[2].placeholder}}" value="" maxlength="20" required>
        </div>
      </div>
     <div class="col-xs-12 martb40">
       <button class="btn btn-success btn-block btn-lg">{{safedata[0].button[0]}}</button>
     </div>   
   </form>
 </div>

 <div class="container-fluid marb15" ng-hide="flag">
   <form class="form-horizontal">
       <div class="row">
        <div class="input-group    form-group-lg">
        <span class="input-group-addon">{{safedata[1].data[0].title}}</span>
          <input class="form-control"   type="password" placeholder="{{safedata[1].data[0].placeholder}}" value="" maxlength="20" required>
        </div>
         <div class="input-group  form-group-lg">
        <span class="input-group-addon">{{safedata[1].data[1].title}}</span>
          <input class="form-control"   type="password" placeholder="{{safedata[1].data[1].placeholder}}" value="" maxlength="20" required>
        </div>
         <div class="input-group  form-group-lg">
        <span class="input-group-addon">{{safedata[1].data[2].title}}</span>
          <input class="form-control"   type="password" placeholder="{{safedata[1].data[2].placeholder}}" value="" maxlength="20" required>
        </div>
      </div>
     <div class="col-xs-12 martb40">
       <button class="btn btn-success btn-block btn-lg">{{safedata[1].button[0]}}</button>
     </div>   
   </form>
</div>
<div ui-view="footer"></div>
</div>
<div ui-view="fixed"></div>


