/* top-bar */
.top-bar{width:100%;background-color:#eee;height:30px;line-height:30px}
.tp-bd .lnk-home{color:#f47912;}
.top-bar .top-nav{color:#666;}
.top-bar .top-nav a{color:#666;}
.top-bar .top-nav a.n{margin:0 10px;}
.top-bar .top-nav li.uitem{float:left;border:solid 1px #eee;border-top:none;border-bottom:none;}
.top-bar .tp-bd li i {font-style: normal;color: #dddddd;font-size: 14px;font-family: Arial;}
.top-bar .tp-bd li .fa{font-size:16px;vertical-align: middle;margin-left:7px;}
.top-bar .dropdown{position:relative;}
.top-bar .dropdown .dbox{width:100%;position:absolute;top:30px;z-index:100;line-height: 18px;left:-1px;padding:5px 0 10px 0px;border:solid 1px #e4e4e4;display:none;background-color:#fff}
.top-bar .dropdown .dbox dd{margin-bottom:7px;float:left;margin-left:20px;}
.top-bar .dropdown:hover .dbox{display:block;border-top:none;}
.top-bar .dropdown:hover .dmember{width:180px;}
.top-bar .dropdown:hover .dmember dd{margin-left:25px;}
.top-bar .dropdown:hover i{visibility:hidden;}
.top-bar .dropdown:hover{background-color:#fff;border:solid 1px #e4e4e4;}
/* top-bar End */


/* header */
.fixed-wrapper{
    position:relative;
    z-index:1500;
    width:100%;
    background-color:#fff;
}

.isStuck .search-hd{display:none;}
.isStuck .search-ft{display:none;}
.isStuck .logo img{width:160px;height:50px;}
.isStuck .header{height:60px;}
/* end of header */

/* header */
.header{
	  width: 100%;
    min-width: 1100px;
    height: 93px;
    background-color: #FFF;
    box-shadow: 0px 2px 2px #F5F5F5;
    border-bottom: 1px solid #F9F9F9;
}
.header .logo{ padding-top:8px;}
.search-hd{line-height:24px;height:24px;}
.search-hd li.search-tab{float:left;background-color:#f0f0f0;line-height:12px;padding:6px 13px;cursor:pointer;color:#676767;}
.search-hd li.selected{background-color:#f47912;color:#fff;position:relative;}
.search-hd li.selected i{display:block;position:absolute;bottom:-6px;left:50%;margin-left:-5px;background:url(../images/icon/tab_arraw_b.jpg) no-repeat;width:10px;height:6px;}
.search-bd{border:solid 1px #ccc;}
.space{visibility:hidden;height:10px;}
.search-wrap{   width: 470px;
    margin-top: 10px;}
.search-bd .inp-search{height:20px;line-height:20px;padding:5px 4px;border:none;width:422px;float:left;outline:none;}
.search-bd button{width:36px;height:30px;border:none;background-color:#fff;border-left:solid 1px #ccc;outline:none;position:relative;}
.search-bd button i{position:absolute;top:0;right:0;display:block;background:url(../images/icon/icon_search_btn.jpg) no-repeat;width:30px;height:30px}
.search-ft{color:#333;padding-top:10px;}
.search-ft dl{float:left;}
.search-ft dt{float:left;}
.search-ft dd{float:left;width:410px;visibility:visible;height:40px;overflow:hidden;line-height:1.8}
.search-ft dd a{margin-right:16px;}
/* end of header */
/* slider */
.sliders{float:left;position:relative;width:623px;height:324px;margin:0 auto;overflow:hidden;}
.sliders .bd li{position:absolute;left:0;top:0;}
.index_focus_post{z-index:10;}
.sliders .pic{height:auto;display:block;}
.sliders .pic:hover{text-decoration:none;}
.sliders .slide_nav{position:absolute;right:25px;bottom:10px;}
.sliders .slide_nav a{cursor:pointer;float:left;font-size:20px;font-family:arial;color:#fff;margin:0 5px 0 10px;}
.sliders .slide_nav a:hover{text-decoration:none;}
.sliders .slide_nav li:hover,.sliders .slide_nav .on{text-decoration:none;color:#9c0;filter:alpha(opacity=80);opacity:0.8;font-size:20px;}
.index_focus_pre,.index_focus_next{position:absolute;top:50%;margin-top:-36px;width:72px;height:72px;text-indent:100%;white-space:nowrap;overflow:hidden;z-index:10;}
.index_focus_pre{left:30px;background-position:0 0;}
.index_focus_pre:hover{background-position:0 -144px;}
.index_focus_next{right:30px;background-position:0 -72px;}
.index_focus_next:hover{background-position:0 -216px;}
.index_focus_info{position:absolute;left:10%;bottom:12%;width:800px;height:200px;padding-bottom:10px;color:#fff;text-decoration:none;cursor:pointer;font-family:"\5fae\8f6f\96c5\9ed1";-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.6);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.6);text-shadow:1px 1px 1px rgba(0,0,0,0.6);background:url("../images/icon/index_focus_bg.png") no-repeat;_background:none;}
.index_focus_info h3{font-size:36px;line-height:70px;font-family:\5fae\8f6f\96c5\9ed1,\u9ed1\u4f53,"Lucida Grande";display:none;}
.index_focus_info .text{width:500px;line-height:24px;font-size:14px;word-wrap:break-word;overflow:hidden;display:none;}
/* end of slider */ 
.footer{margin-top: 0px;border-top: 4px solid #FE731B;}
.footer-hd dl .fa{text-align: center;margin-left: 14px;color: #CCC;font-size: 26px;}
.footer .footer-hd{width:1100px;margin:auto;padding:20px 0;}
.footer .footer-hd dl{overflow:hidden;float:left;margin-left:160px;line-height:1.8}
.footer .footer-hd dl dt{font-size: 14px;font-weight: bold;color:#565656;}
.footer .footer-hd dl dd a{color:#717171;}
.footer .footer-hd dl dd a:hover{color:#89C975;}
.footer .footer-bd{height:80px;padding-top:20px;padding-bottom:20px;font-size:12px;color:#565656;line-height:2;text-align:center}
.footer .footer-bd a{color:#565656;}
.footer .footer-bd span{margin:0 8px;}
.footer-hd dl dd{ padding:2px; font-size: 12px;}
.copyright p{padding:0;margin:0}

/* user-mans */
.page{margin-top:0px; min-height:600px;}
.user-mans{width:200px;float:left;margin-right:15px;}
.page .main-content{overflow:hidden;zoom:1;min-height:500px;margin-bottom: 15px;}
.user-mans .ucenter{background-color: #89C975;line-height: 50px;text-align: center;color: #F2FFF1;height: 50px;font-size: 18px;font-weight: bold;}
.user-navs{border:1px solid #EDEDED;padding:10px 0;}
.user-navs li{line-height:30px;padding-left:70px;cursor:pointer;font-size: 13px;}
.user-navs li.current .active{display:block;}
.user-navs li.current .active a.mlnks,.user-navs li.current a.mlnks{color:#4c9430;}
.user-navs li em{font-style:normal;font-family:Arial;font-size:16px;margin-right:4px;margin-left:-14px;}
.user-navs .sub-navs{margin-left:10px;display:none}
/* end of user-mans */

/* mod-pagination */
.mod-pagination{overflow:hidden;zoom:1;padding:15px 0;}
.mod-pagination .page-bottom{float:right}
.mod-pagination .page-bottom span,.mod-pagination .page-bottom a{cursor:pointer;background-color:#fff;float:left;padding:4px 7px 5px;line-height:1;border:solid 1px #e3e3e3;margin-left:10px;color:#999;}
.mod-pagination .page-bottom a:hover{text-decoration:none;}
.mod-pagination .page-bottom .page-cur{color:#fff;border:solid 1px #6AA277;background-color:#6AA277}
.mod-pagination .fa-caret-left{margin-right:4px;}
.mod-pagination .fa-caret-right{margin-left:4px;}

.pagination{   
	margin-top: 10px;
}

.pagination a {
    text-decoration: none;
	border: solid 1px #e3e3e3;
	color: #999;
    background-color:#fff;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background:#89C975;
    color: #fff;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	background:#fff;
    border: solid 1px #D8D8D8;
}


.calendar_sel{
	float: left;
	_display: inline;
	margin: 0 0 0 5px;
	background: url('/images/icon/calendar-icon.png') no-repeat;
}

/* end of mod-pagination */

/* form */
.csel{height: 35px;width: 111px;border: 1px solid #EEE;text-align: center;margin-top: 3px;margin-left:12px;background: #FEFEFE; color:gray;border-radius: 3px;}
.to{margin:0 10px;}
.cinp{height: 16px;line-height: 16px;padding: 1px;outline: medium none;border: 1px solid #CCC;width: 136px;margin-left: 11px;}
.cbtn{height: 25px;line-height: 24px;background-color: #FE731B; border: none;padding: 0 12px;color:white;border-radius: 3px; transition:width 2s;
-moz-transition:background-color 0.5s; /* Firefox 4 */
-webkit-transition:background-color 0.5s; /* Safari and Chrome */
-o-transition:background-color 0.5s; /* Opera */
margin-right: 10px;}
.cbtn:hover{background-color:#FEA31B;  }
.file-btn{}
.cinp:focus{border:1px solid orange}
button.file-btn{display:inline-block; width:90px; height:24px; background:#e3e3e3; position:relative; overflow:hidden;border:solid 1px #ccc;}
button.file-btn .cfile{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);}


.cinp-date{padding: 1px;outline: medium none;border: 1px solid #CCC;width: 90px;}
.cinp-date:focus{border:1px solid orange}
/* end of form */

.pa-stock a ,.pa-stock input{float:left;}

.pa-stock a{background-color: #89C975;width:24px;height:24px;margin-right:10px;overflow:hidden;color:#FFFFFF; font-size:20px; text-align: center; margin-top: 4px; line-height:24px;font-weight: 700; border: solid 1px #89C975;}

.pa-stock .disable-increase{
	color: #999;
	background: #fff;
}

.pa-stock .disable-reduce{
	color: #999;
	background: #fff;
}


.pa-stock input.p-text{margin-right:10px;width:50px;height:22px;padding:4px 0 3px;border:solid 1px #e3e3e3;outline:0;text-align:center;vertical-align:middle;}

.alert {
	padding:15px;
	margin-bottom:20px;
	border:1px solid transparent;
}
.alert-success {
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6
}
.alert-info {
	color:#31708f;
	background-color:#d9edf7;
	border-color:#bce8f1
}
.alert-error {
	color:#8a6d3b;
	background-color:#fcf8e3;
	border-color:#faebcc
}

.price {
  float: left;
  font-size: 16px;
}
.g_price{
  font-family: arial;
}

.g_price-highlight span {
  color: #F40;
}
.g_price span {
  margin-right: 3px;
  color: #999;
}
.price strong {
  font-weight: 700;
}
.g_price strong {
  color: #F40;
  font-weight: 700;
  font-family: verdana,arial;
}

.newp{  height: 24px;
  line-height: 24px;
  border: solid 1px #e8e8e8;
  padding: 0 9px;
  background: #f6f6f6;
  color: #6b6b6b;
  display: inline-block;
}

.ctarea{
	outline:none;border:solid 1px #ccc;width:250px;height:70px;padding:4px;resize:none;
}

 .noData{ width:100%; min-height:50px; line-height:50px;}
 .noData h3{ text-align: center;color: #DADADA;font-size: 18px;border: 1px solid #F3F3F3;}
