<div class="container-fluid">
<div class="row bgwhite mart5 padtb15 screen " ng-controller="screen">
<div class="screenBox" ng-repeat="screen in screenData" repeat-done="sbind()" >
    <div class="search-type" >{{screen.type}}</div>
    <div class="search-txt">
        <span ng-repeat="data in screen.data" ng-class="{active : $first}">{{data}}</span>
    </div>
</div>
</div>
<div class="row lh40 bgwhite mart5 txtcenter">
    <div class="col-xs-4" ng-click="sort(0);" id="price">{{searchKey[0]}} <span class="glyphicon glyphicon-triangle-bottom"></span></div>
    <div class="col-xs-4" ng-click="sort(1);" id="nums">{{searchKey[1]}} <span class="glyphicon glyphicon-triangle-bottom"></span></div>
    <div class="col-xs-4" ng-click="sort(2);" id="name">{{searchKey[2]}} <span class="glyphicon glyphicon-triangle-bottom"></span></div>
</div>
  <div class="row marb60">
    <div class="product" ng-repeat="product in products | filter: search | orderBy:sortKey " repeat-done="productSbind()">
        <div class="product-bar">
            <span class="product-name">{{product.name}}</span>
            <span class="product-price"><i>{{product.pCompany}}</i> <strong>{{product.price}}</strong></span>
            <span class="glyphicon glyphicon-menu-down"></span>
        </div>
        <div class="product-data">
            <ul>
                <li class="col-xs-12 col-sm-6">{{product.id}}</li>
                <li class="col-xs-12 col-sm-6">{{product.brand}}</li>
                <li class="col-xs-12 col-sm-6">{{product.numstxt}} <span class="red">{{product.nums}}</span> {{product.numsCompany}}</li>
                <li class="col-xs-12 col-sm-6">{{product.place}}</li>
                <li class="col-xs-12 col-sm-6">{{product.cName}}</li>
                <li class="col-xs-12 col-sm-6">{{product.cAddress}}</li>
                <li class="col-xs-12 col-sm-6">{{product.typeTxt}} <span class="red radius">{{product.type}}</span></li>
            </ul>
            <div class="product-describe">{{product.describe}}</div>
            <div class="seller row">
                <div class="col-xs-12 col-sm-6 seller-id">{{product.productId}}</div>
                <div class="col-xs-12 col-sm-6 seller-date">{{product.date}}</div>
                <div class="col-xs-12 col-sm-6 seller-name"><span>{{product.sellerTxt}}</span>{{product.seller}}</div>
                <div class="col-xs-12 col-sm-6 ">
                    <a ui-sref="{{product.url}}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
